body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 13%);
    overflow-x: hidden;
    background: #52A7FF;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 440px;
    background: #FFFFFF;
    overflow:auto;
    padding: 20px;
}

#login {
    float: left;
    padding-top: 5px;
    padding-right: 40px;
    width: 200px;
}

#register {
    float: left;
    padding-top: 5px;
    width: 200px;
}

.input-text {
    margin-bottom: 0.5em;
}

.text-box {
    padding: 5px;
    border: none;
    width: 190px;
    border-radius: 0;
    background: #0580FF;
    color: white;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: hsl(205, 65%, 75%);
}
:-moz-placeholder { /* Firefox 18- */
    color: hsl(205, 65%, 75%);
}
::-moz-placeholder {  /* Firefox 19+ */
    color: hsl(205, 65%, 75%);
}
:-ms-input-placeholder {
    color: hsl(205, 65%, 75%);
}

.input-check {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.submit {
    margin: 0.8em auto;
    padding: 15px;
    width: 200px;
    background: #0580FF;
    border: 0px;
    color: white;
    text-align: center;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

#header {
    background: #03407F;
    border-bottom: 0.25em solid #0466CC;
    margin-bottom: 30px;
    padding: 8px;
    padding-left: 15px;
    padding-bottom: 4px;
    height: 43px;
    position: relative;
}

.alert-danger {
    background: #F63F1F;
    padding: 15px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 20px;
}

.alert-success {
    background: #33B20D;
    padding: 15px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 20px;
}

#company {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
    float: left;
}

ul {
    list-style-position: outside;
    padding: 0;
    border-style: solid;
    border-width: 1px;
}

li {
    list-style-type: none;
    padding-left: 6px;
    padding-bottom: 3px;
}

li:nth-child(1) {
    padding-top: 3px;
}

li:nth-child(2n) {
    background: #B5B5B7;
}

#instructions {
    margin-bottom: 8px;
}

.filter-box {
    padding: 5px;
    border: none;
    width: 190px;
    border-radius: 0;
    background: #0580FF;
    color: white;
}

#logout {
    float: right;
    position: relative;
    margin-top: 8px;
    margin-right: 10px;
}

#logout a {
    color: white;
    font-weight: bold;
}
